#mainheader {
    float: left;
    width: 15%;
    background-color: aqua;
    color: #fff;
    height: 100vh;
    padding: 10px;
    position: fixed;
  }
  .Logo {
    text-align: center;
    margin-top: 75px;
    margin-bottom: 50px;
    background-color: rgba(230, 71, 71, 0.845);
    height: 150px;
    line-height: 150px;
  }
  .menuWrap {
    padding: 10px;
    text-align: center;
  }
  .menu {
    list-style-type: none;
  }
  li {
    margin-top: 20px;
    background-color: rgba(244, 146, 240, 0.773);
    padding: 10px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }

  #home {
    height: 150vh;
    background-color: rgb(33,73,115);
    color: #fff;
    text-align: center;
}

#about {
    height: 150vh;
    background-color: rgb(94, 193, 160);
    color: #fff;
    text-align: center;
}

#gallery {
    height: 150vh;
    background-color: lavender;
    color: #fff;
    text-align: center;
}

#contact {
    height: 150vh;
    background-color: cadetblue;
    color: #fff;
    text-align: center;
}

  .mainContent {
    float: left;
    width: 100%;
    background-color: aquamarine;
    padding-left: 250px;
  }